body {
    font-family: 'Segoe UI';
}

#containerAll {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#outerBoxContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 10px;
    width: 800px;
    height: 400px;
}

#boxConversionContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#boxCelcius, #boxFahrenheit {
    padding: 0px;
    width: 300px;
}

#boxCelcius {
    margin-right: 40px;
}

#boxFahrenheit {
    margin-left: 40px;
}

#inputCelcius {
    display: flex;
    text-align: center;
    border: 1px solid gray;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin: 0px;
    padding: 0px;
    width: 300px;
    height: 100px;
    font-size: 40px;
}

#inputCelcius:focus {
    outline: none;
}

#celciusTextBox {
    border: 1px solid gray;
    border-top: 0px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 300px;
}

#celciusText {
    display: flex;
    margin: 0px;
    padding-left: 118px;
}

#equalText {
    padding-bottom: 15px;
}

#inputFahrenheit {
    display: flex;
    text-align: center;
    border: 1px solid gray;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin: 0px;
    padding: 0px;
    width: 300px;
    height: 100px;
    font-size: 40px;
}

#inputFahrenheit:focus {
    outline: none;
}

#fahrenheitTextBox {
    border: 1px solid gray;
    border-top: 0px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 300px;
}

#fahrenheitText {
    display: flex;
    margin: 0px;
    padding-left: 103px;
}

#formulaTextContainer {
    text-align: left;
    margin-top: 10px;
    margin-right: 468px;
    padding: 0px;
}

#formulaText {
    margin: 0px;
}